/* fixes padding and make content take up the whole page*/
html, body { 
    height: 100%;
    color: rgb(59, 59, 59);
}
header, nav, main, footer{
    padding-left: 10px !important; 
}
.container{
    min-width: 100%;
}

/* uses grid system for overall layout, but use boostrap-grid for more precise layout */
#grid {
    display: grid;
    min-height: 100%;
    min-width: 100%;
    grid-template-rows: auto  1fr auto;
    grid-template-columns: auto;
    grid-template-areas: 
        "nav"
        "main"
        "footer" 
}

/*ALL*/
.center{
    text-align: center;
}
a{
    text-decoration: none;
    color: rgba(241, 242, 243, 0.945) !important;
}
a:hover{
    color:rgb(126, 186, 201) !important;
}
.left{
    text-align:left;
}
.right{
    text-align:right !important;
    font-weight: bold;
    float: right;
}
h2{
    margin-top:20px;
}
.btn-custom{
    background-color:  rgb(57, 153, 177);
    color: rgba(241, 242, 243, 0.945); /* fixa hoover */
    margin: 10px;
    width: 80px; 
}
.btn-custom:hover{
    color: rgb(126, 186, 201) !important;
}

/* HEADER / NAVIGATION*/
nav{
    grid-area: nav;
}
.navbar {
    padding: 0px;
    -webkit-box-shadow: 0 6px 6px -6px rgb(190, 187, 187);
    -moz-box-shadow: 0 6px 6px -6px rgb(190, 187, 187);
    box-shadow: 0 6px 6px -6px rgb(190, 187, 187);
   }
.navbar-custom { 
    background-color: rgb(57, 153, 177);
}
.nav-link{
    font-size: 20px;
}

/* MAIN */
main{
    grid-area: main;
    background-color: rgba(241, 242, 243, 0.945);
}
.carousel{
    margin:30px;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    margin-bottom: 60px;
    align-items: flex-start !important;
}
.carousel-control-prev, .carousel-control-next{
    align-items: flex-start !important;
    margin-top: 5px;
}

.highscore-h{
    color:  rgb(57, 153, 177);
}
.highscore-h:hover{
    color: rgb(144, 191, 202)
}

/* QUIZ */
#answer_input{
    margin-left:0px;
}
#h2-quiz{
    margin-top: 10px;
    margin-bottom: 20px;
}

/* FOOTER */

footer{
    grid-area: footer;
    background-color:  rgba(227, 230, 233, 0.945);
    max-height: 30px;
}
footer > p{
    margin: 0px;
}

