{% extends "templates/base.html" %}
{% block main %}
<h2 class="center"> Highscore </h2>
<div class="row justify-content-center">
    <div id="carouselExampleDark" class="carousel carousel-dark slide w-50" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="card">
                    <a href="/highscore">
                        <div class="card-header center highscore-h">
                            Highscore Easy
                        </div>
                    </a>
                    <ul id="highscore-easy" class="list-group list-group-flush">
                    </ul>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="card">
                    <a href="/highscore">
                        <div class="card-header center highscore-h">
                            Highscore Medium
                        </div>
                    </a>
                    <ul id="highscore-medium" class="list-group list-group-flush">
                    </ul>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <a href="/highscore">
                        <div class="card-header center highscore-h">
                            Highscore Difficult
                        </div>
                    </a>
                    <ul id="highscore-difficult" class="list-group list-group-flush">
                    </ul>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
{% endblock %}