{% extends "templates/base.html" %}

{% block main %}
<h2 class="center bold"> Welcome to Random Image Quiz! </h2>
<h5 class="center"> Select a difficulty to start playing </h5>
<div class="row justify-content-center">
    <button type="button" class="btn btn-custom-p start-quiz" onclick="window.location.href='/quiz/easy';">Easy</button>
    <button type="button" class="btn btn-custom-p start-quiz" onclick="window.location.href='/quiz/medium';">Medium</button>
    <button type="button" class="btn btn-custom-p start-quiz" onclick="window.location.href='/quiz/difficult';">Difficult</button>
</div>

<div class="row justify-content-center">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="card">
                    <a href="/scoreboard">
                        <div class="card-header center scoreboard-h">
                            Scoreboard Easy
                        </div>  
                    </a>
                    <ul id="scoreboard-start-easy" class="list-group list-group-flush">
                    </ul>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="card">
                    <a href="/scoreboard">
                        <div class="card-header center scoreboard-h">
                            Scoreboard Medium
                        </div>
                    </a>
                    <ul id="scoreboard-start-medium" class="list-group list-group-flush">
                    </ul>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <a href="/scoreboard">
                        <div class="card-header center scoreboard-h">
                            Scoreboard Difficult
                        </div>
                    </a>
                    <ul id="scoreboard-start-difficult" class="list-group list-group-flush">
                    </ul>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
<div class="white-box">
    <h3 class="bold">How To Play</h3>
    <p> bla bla bla Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, cupiditate harum. Nesciunt doloribus,
        unde, earum consequatur magni, culpa necessitatibus minima maxime iusto placeat quis quae reiciendis harum
        molestias eligendi vitae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio consectetur numquam mollitia reprehenderit
        natus quas harum necessitatibus veritatis debitis iure architecto, repellat dolore, nesciunt, ipsa saepe
        explicabo quod hic!</p>
</div>
{% endblock %}