{% extends "templates/base.html" %}
{% block main %}

<div id="quiz-page" class="row justify-content-center">
  <h2 id="h2-quiz" class="center-text"> difficulty </h2>
  <h4 id="h4-quiz" class="center-text"> Question 3/10</h4>
  <div id="question_id" class="card" style="width: 25rem;">
    <img src="source" id="img-clue" class="card-img-top" alt="...">
    <!--a clue button-->
    <div class="card-body">
      <h5 class="card-title">Question:</h5>
      <p class="card-text">question</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <form name="question-form" id="question-form">
          <label for="answer">Answer:</label> <br>
          <input type="text" id="answer_input" name="answer" placeholder="answer..."> <br>
          <button type="submit" id="answer_input" class="btn btn-custom">Submit</button>
        </form>
      </li>
      <li class="list-group-item" id="timer"></li>
    </ul>
  </div>
</div>

<div id="result-page" class="row justify-content-center">
  <h2 class="center-text"> Thank you for playing! </h2>
  <h2 class="center-text" id="total-score"> Your score: </h2>

  <div class="card">
    <div class="card-header text-center">
      Result
    </div>
    </a>
    <ul class="list-group list-group-flush result-board">
    </ul>
  </div>

  <form name="name-form" id="name-form">
    <label for="name_input">Name:</label> <br>
    <input type="text" id="name_input" name="name" placeholder="Enter your name"> <br>
    <button type="submit" id="name_input" class="btn btn-custom">Submit</button>
  </form>

  <div class="row justify-content-center">
    <button type="button" class="btn col-1 btn-custom start-game" id="play-again">
      <a href="/">Play again</a>
    </button>
    <button type="button" class="btn col-1 btn-custom start-game"><a href="/">Go to start page</a></button>
  </div>
</div>
</div>


{% endblock %}