{% extends "templates/base.html" %}
{% block main %}

<div id="quiz-page" class="row justify-content-center">
  <h2 id="h2-quiz" class="center-text"> difficulty </h2>
  <h4 id="h4-quiz" class="center-text"> Question 3/10</h4>
  <div id="question_id" class="card" style="width: 25rem;">
    <img src="source" id="img-clue" class="card-img-top" alt="...">
    <!--a clue button-->
    <div class="card-body">
      <h5 class="card-title">Question:</h5>
      <p class="card-text">question</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <form name="question-form" id="question-form">
          <label for="answer">Answer:</label> <br>
          <input type="text" id="answer" name="answer" placeholder="answer..."> <br>
          <button type="submit" id="submit_answer" class="btn btn-custom">Submit</button>
        </form>
      </li>
      <li class="list-group-item" id="timer"></li>
    </ul>
  </div>
</div>

<div id="result-page" class="row justify-content-center">
  <h2 class="center-text"> Bra jobbat! </h2>
  <h2 class="center-text"> Du fick x poäng!</h2>

  <div class="card">
    <div class="card-header text-center">
      Resultat
    </div>
    </a>
    <ul class="list-group list-group-flush result-board">
    </ul>
  </div>

  <div class="row justify-content-center">
    <button type="button" class="btn col-1 btn-custom start-game" id="play-again"><a href="/">Spela
        igen</a></button>
    <button type="button" class="btn col-1 btn-custom start-game"><a href="/">Gå till start</a></button>
  </div>
</div>
</div>


{% endblock %}