{% extends "templates/base.html" %}
{% block main %}

<h2 id="loading" class="center"></h2>


<div id="quiz-page" class="row justify-content-center">
  <h2 id="h2-quiz" class="center capital bold"> difficulty </h2>
  <h4 id="h4-quiz" class="center"> Question 3/10</h4>
  <div id="question-card" class="card" style="width: 25rem;">
    <img src="source" id="img-clue" class="card-img-top" alt="Sorry no hint for you this time!">
    <div class="card-body">
      <h5 class="card-title">Question:</h5>
      <p class="card-text">question</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <form name="question-form" id="question-form" autocomplete="off">
          <label for="answer">Answer:</label> <br>
          <input type="text" id="answer_input" name="answer" placeholder="answer...">
          <button type="button" class="btn btn-custom-s" id="show-img">Show hint</button>
          <br>
          <button type="submit" id="answer_input" class="btn btn-custom-p">Submit</button>
        </form>
      </li>
      <li class="list-group-item center" id="timer"></li>
    </ul>
  </div>
</div>

<div id="result-page" class="row justify-content-center">
  <h2 class="center"> Thank you for playing! </h2>
  <h3 class="center" id="total-score"> Your score: </h3>
  <div class="row justify-content-center">
    <form name="name-form" id="name-form">
      <label for="name_input">Name:</label><br>
      <input type="text" id="name_input" name="name" placeholder="Enter your name">
      <button type="submit" id="name_input" class="btn btn-custom-p">Submit</button>
    </form>

    <div id="result-btns">
      <a href="/"></a><button type="button" class="btn btn-custom-p result-btn" id="play-again">Play again</button></a>
      <a href="/"></a><button type="button" class="btn btn-custom-p result-btn">Go to start page</button></a>
    </div>
  </div>

  <div class="card" id="result">
    <div class="card-header center">
      Result
    </div>
    </a>
    <ul class="list-group list-group-flush result-board">
    </ul>
  </div>
</div>
</div>


{% endblock %}